@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 html, body{background-color: #FFFFFF;
 margin-left:auto; font-family: 'Roboto', sans-serif;
 margin-right:auto; max-width: 8000pt; min-width: 192pt;
 padding-top: 0pt;
 padding-bottom: 18pt;
 padding-left: 18pt;
 padding-right:18pt;
 }
nav ul {
      font-family: 'roboto';
      list-style-type:none;
      background-color:#A90028;
      
      
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      font-weight:bold;
      padding:25px;

      }
nav ul li {
 text-color:#f7f7f7;
          display:inline;
          border-right: 2px solid #f7f7f7;
          padding-right: 8px;
          padding-left: 8px;
          }
nav ul li:last-child{
 border-right:none;}
nav ul li a {
 text-decoration: none;
 color: #f7f7f7;}
nav ul li.selected{
 color:#555555;
 background-color:#f7f7f7 ;
}

p.fact {
 border:4px #00AFEB;
 border-radius:10px;
 padding:16px;
 background-color:#C5EBFB;
}
